/*FONDOS Y TEXTO*/
@import url(../base/colores.css);
@import url(../base/fuentes.css);

/*LAYOUT DE LA PAGINA*/
@import url(../base/reset.css);
@import url(../base/layout.css);

/*ELEMENTOS*/
@import url(../componentes/botones.css);
@import url(../componentes/navbar.css);
@import url(../componentes/sidebar.css);
@import url(../componentes/cards.css);
@import url(../componentes/iconos.css);
@import url(../componentes/tablas.css);
@import url(../componentes/alertas.css);

.tabla-stock th:last-child,
.tabla-stock td:last-child {
  text-align: right;
}

.tabla-acotada {
  max-height: 220px;
  overflow-y: auto;
}

.tabla-stock {
  max-width: 100%;
  table-layout: fixed;
}