body{
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--gris-fondo);
  color: var(--texto-oscuro);
}

.contenido {
  flex: 1;
  padding: 10px 10px;
  min-height: 100vh;
}